@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.icon-bg {
    width: 40px;
    height: 40px;
    background-color: #3b3b3b;
}